@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@theme {
  --color-primary: #ff3f6c;
  --color-primary-dark: #e8365d;
  --color-text-main: #282c3f;
  --color-text-light: #535766;
  --font-sans: "Inter", sans-serif;
}

html, body, #root {
  height: 100%;
  margin: 0;
  font-family: var(--font-sans);
  color: var(--color-text-main);
  background-color: #f9f9f9;
}

/* Custom Utilities for Hide Scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
